<h1>Пожалуйста подтвердите регистрацию нового мастера!</h1>

<p>
    Пожалуйста, подтвердите регистрацию нового мастера, перейдя по следующей ссылке: <br /><br />
    <a href="{{ verifyUrl }}">Подтвердите электронную почту</a>.
    Срок действия этой ссылки истекает через {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

