<a href="{{ path('app_login') }}" class="logo-link">
<div class="logo_white">
    <div class="logo_item">
        <img src="{{ asset('assets/images/logo_white.svg') }}" alt="" />
        <span>{{ 'Logo title'|trans }}</span>
    </div>
    <p>{{ 'Slogan'|trans }}</p>
</div>
</a>