<div class="row">
    <div class="col-md-12">
        <div class="logo_black">
            <div class="logo_item">
                <img src="{{ asset('assets/images/logo_black.svg') }}" alt="" />
                <span>{{'Logo title'|trans }}</span>
            </div>
        </div>
    </div>
</div>