<p class="text-bbb">Центр поддержки клиентов: <a href="tel:+79616559781">+7 961 655 97 81</a><br />
<a class="text-bbb" href="https://smcentr.su/privacy">Политика конфиденциальности</a><br /><a class="text-bbb" href="https://smcentr.su/oferta">Оферта</a>
</p>