<div class="notification">
    <div class="status">
        <img src="{{ asset('assets/images/notif_status_old.svg') }}">
    </div>
    <div class="date">{{ notification.created|date("H:i \ d.m.Y") }}</div>
    <div class="title">
        {{ notification.message }} <a href="#">ID {{ notification.id }}</a>.
    </div>
    <div class="desc">
        <a href="#">Баланс вы можете посмотреть на странице профиля</a>
    </div>
</div>