{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Privacy policy'|trans }}{% endblock %}
{% block body %}

<header id="sticky_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include 'partials/navigation/_navbar.html.twig' %}
            </div>
        </div>
    </div>
</header>

<section id="list_jobs">
    <div class="container">
        {% include 'partials/_message.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'Privacy policy'|trans }}</h1>
            </div>
            {% for page in pages %}
                {{ page.privacy|raw }}
            {% endfor %}
        </div>
    </div>
</section>

    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}