<div class="col-md-4">
    <div class="job_item">
        <a id="job{{ order.id }}"></a>
        {% include 'partials/order/_order_main_info.html.twig' %}
        <div class="client_contact_visible">
            {% include 'partials/order/_contact_info.html.twig' %}
        </div>
    </div>
</div>