#form-signup .form-group,
#login-form .form-group {
    margin-bottom: 0;
}
.user-avatar {
    margin-top: 20px;
}

.reg_contact h3 {
    text-align: center;
}
.reg_contact h3 {
    margin-bottom: 30px;
    margin-top: 15px;
    font-weight: 400;
    /*    font-size: 2.75rem;*/
}

.form-std {
    margin: 0 auto;
}
.rounded img,
.user-rounded {
    border-radius: 50%;
}

.textarea-form-control {
    border-radius: 20px;
    margin-bottom: 20px;
}

table.dataTable thead .sorting_asc:after {
    content: "\e155";
}

.answers {
    margin-left: 20px;
}
.answer p {
    font-size: 16px;
    color: #000;
    line-height: 20px;
}
.answer {
    padding: 5px 20px 3px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.answer:nth-child(even) {
    background: #f5f5f5;
    border: 1px solid #a9a9a9;
}
.answer:nth-child(odd) {
    background: #fff;
    border: 1px solid #a9a9a9;
}

blockquote {
/*    color: rgba(250, 200, 130, 0.6);*/
    color: #000;
    font-family: Tahoma, sans-serif;
    font-size: 26px;
    width: 95%;
    margin: 0 auto;
}

blockquote p {
    font-style: italic;
    margin-bottom: 0;
}

blockquote p::before,
blockquote p::after {
    content: "“";
    font-size: 4rem;
    margin: -2rem 0 0 -2rem;
    position: absolute;
    opacity: 0.5;
}

blockquote p::after {
    content: "”";
    margin: -1rem -4rem 0 0;
}

blockquote cite {
    font-size: 20px;
}

.status_performed {
    min-width: 100px;
}

/*
.client_contact_visible .address {
    border: 1px solid red;
    display: block;
    padding-bottom: 10px;
    width: 60%;
}
.client_contact_visible .phone {
    display: block;
}*/


.load-more__btn-wrap {
    width: 100%;
    text-align: center;
}
.load-more__btn-wrap .load-more__btn {
    display: inline-block;
    background: #FF8C00;
    border: 0;
    border-radius: 60px;
    color: #fff;
    padding: 12px 70px;
}
.load-more__btn-wrap .load-more__btn:hover {
    text-decoration: none;
    background: #FFA700;
}


/* Customize upload buttons */
.upload_file,
.p_upload_btn {
    background: none;
}
.upload_file input[type="file"] {
    -webkit-appearance:none;
    position:absolute;
    opacity:0;
    width: 180px;
    height: 50px;
    cursor: pointer;
    background: transparent;
}
.upload_file input[type="file"]:hover {
    cursor: pointer;
}

.p_upload_btn input[type="file"] {
    position:absolute;
    margin-top: 20px;
    width: 180px;
    height: 50px;
    opacity: 0;
}

#avatar {
    width: 121px;
    height: 121px;
    border-radius: 100px;
}

#doc1,
#doc2,
#doc3 {
    max-width: 121px;
    max-height: 121px;
}

button.upload {
    cursor: pointer;
}
button.hover {
    background: #3292b2;
}
.hidden {
    display: none;
}
.show {
    display: block;
}

#registration_company_form_balance {
    display: inline-block !important;
    width: 370px;
    margin-right: 10px;
}
select#registration_company_form_companyMasters,
select#registration_company_form_companyClients {
    border-radius: 0;
    background-image: none;
}
.checkbox input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
.checkbox input[type="radio"]:checked + span::before {
    background-image: url(../images/check_full.svg);
}


.company_form h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.required:after {
    content: ' *';
    color: #ff0000;
}
input[required] + label:after {
    content: '*';
    color: red;
}
.company_form .reg_company,
.company_form .reg_contact {
    width: 600px !important;
}

.check_notifications {
    text-align: center;
}

.status_created_by {
    background: #e8e8e8;
    border-radius: 60px;
    padding: 2px 20px;
    color: #000;
    margin: 10px 0;
}

.tabs {
    margin-bottom: 20px;
}

.form-background {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #00000029;
    padding: 15px;
    color: #717380;
    margin: 20px 0;
    text-align: center;
}
.form-background h1 {
    text-align: center;
    color: #000;
}
span.money {
    font-size: 16px;
    color: #000;
}

span#subscribe {
    color: #717380;
    text-decoration: underline;
}
span#subscribe:hover {
    text-decoration: none;
}
span.main-page-subscribe {
    color: #FF8C00 !important;
    text-decoration: none !important;
}
span.main-page-subscribe:hover {
    color: #007bff !important;
    text-decoration: underline !important;
}

/* PWA background image */
#wrapper {
    display:none;
}
/*
Using a media query to test for the display-mode of your application
*/
@media all and (display-mode: fullscreen) {
    body {
        margin: 0;
        border: 5px solid #FF8C00;
    }
}

#splash_screen {
    /* splash screen styles */
    background-color: #FF8C00;
    background-image: url(../images/strart_screen.svg);
/*    background-size: 100%;*/
}