<div class="col-md-12">
    <div class="reg_bottom">
        <div class="cb_notifications">
            <label class="checkbox">
                {{ form_widget(registrationForm.getNotifications) }}
                <span>Получать уведомления</span>
            </label>
        </div>
         <button disabled id="submit">Регистрация</button>
        <div class="bottom_link">
            {% include 'partials/_login_info.html.twig' %}
        </div>
    </div>
</div>