<h1>Ваш профиль активирован на smcentr.su</h1>

<p>Ваш аккаунт одобрен администрацией, теперь вы можете пополнить баланс в системе и перейти к выбору заказов.</p>
<p>Подпишитесь на наши социальные сети, чтобы следить за новостями <a href="https://smcentr.su/">https://vk.com/smcentr</a></p>