<h1>Ваш профиль активирован на smcentr.su</h1>

<p>Ваш профиль активирован, для того чтобы принимать и видеть новые заказы вам необходимо пополнить баланс в личном кабинете.</p>
<p><a href="https://smcentr.su/">https://smcentr.su/</a></p>