{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
<a href="https://api.whatsapp.com/send?phone={{ field.value|trim|replace({'(': '', ')': '', '+8': '7', '+7': '7', ' ': '', '-': ''}) }}" target="_blank">
    {{ field.formattedValue }}
</a>