{% extends 'layouts/login.html.twig' %}
{% block body %}
    <section id="auth_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'partials/_logo_white.html.twig' %}
                    <div class="auth_items block_shadow b_center">
                        {% include 'partials/_message.html.twig' %}
                        <h2 class="b_center">{{ 'Access denied'|trans }}</h2>
                        <p>Вам запрещен доступ к этой странице. Запрашиваемая вами страница не найдена</p>
                        {#{% include 'partials/_download_app.html.twig' %}#}
                    </div>
                    {% include 'partials/misc/_support.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}