{% extends 'layouts/base.html.twig' %}
{% block title %}{{ 'Welcome'|trans }} {{ user.fullName }}{% endblock %}
{% block body %}

    <header id="sticky_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'partials/navigation/_navbar.html.twig' %}
                </div>
            </div>
        </div>
    </header>

    <section id="list_jobs">
        <div class="container">
            {% include 'partials/_message.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'Notifications'|trans }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="list_notification">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Новые уведомления</h2>
                    {% for notification in newNotifications %}
                        {% include 'partials/notification/_new_item.html.twig' %}
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Просмотренные уведомления</h2>
                    {% for notification in viewedNotifications %}
                        {% include 'partials/notification/_viewed_item.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/footer/_footer.html.twig' %}
{% endblock %}